div#clipboard {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 90vw;
	max-height: 90vh;
	margin: auto;
	font-family: 'Alegreya', serif;
	background-color: blanchedalmond;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(0 0 10px black);
}
div#clipboard > div#evidence {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
div#clipboard > div#ghosts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
div#clipboard > div#evidence > svg, div#clipboard > div#ghosts > svg {
	overflow: visible;
	cursor: pointer;
	user-select: none;
}
