div#clipboard { background-image: url(../Images/clipboard.png); }
div#clipboard > div {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 78.6931818182%; /* (654 - 100) / 704 */
	max-height: 75.8551307847%; /* (854 - 100) / 994 */
	aspect-ratio: 554 / 754; /* (654 - 100) / (854 - 100) */
	font-family: 'Alegreya', serif;
}
div#evidence {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
div#ghosts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
div#evidence > svg, div#ghosts > svg {
	overflow: visible;
	cursor: pointer;
	user-select: none;
}

div#ghosts.emf-level-5 > svg:not(.emf-level-5),
div#ghosts.dots-projector > svg:not(.dots-projector),
div#ghosts.fingerprints > svg:not(.fingerprints),
div#ghosts.ghost-orb > svg:not(.ghost-orb),
div#ghosts.ghost-writing > svg:not(.ghost-writing),
div#ghosts.spirit-box > svg:not(.spirit-box),
div#ghosts.freezing-temperatures > svg:not(.freezing-temperatures),
div#ghosts.-emf-level-5 > svg.emf-level-5,
div#ghosts.-dots-projector > svg.dots-projector,
div#ghosts.-fingerprints > svg.fingerprints,
div#ghosts.-ghost-orb > svg.ghost-orb,
div#ghosts.-ghost-writing > svg.ghost-writing,
div#ghosts.-spirit-box > svg.spirit-box,
div#ghosts.-freezing-temperatures > svg.freezing-temperatures {
	opacity: 15%;
}
