html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}
html {
	background-color: black;
	background-image: url(../Images/concrete.jpg);
	background-position: center;
	background-size: cover;
	box-shadow:
		inset 0 30vh 20vh -20vh black,
		inset 0 -30vh 20vh -20vh black,
		inset 30vw 0 20vw -20vw black,
		inset -30vw 0 20vw -20vw black;
	overflow: hidden;
}
button {
	padding: 0;
	margin: 0;
	border-radius: 10%;
	border: none;
	cursor: pointer;
	font: inherit;
}
hr {
	margin: 2% 0;
	border: none;
	border-top: 1px solid currentColor;
}
svg {
	display: block;
	fill: currentColor;
}
div.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 90vw;
	max-height: 90vh;
	margin: auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(0 0 10px black);
}
