div.photo {
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 30%;
	background-color: white;
	user-select: none;
	filter: drop-shadow(0 0.1rem 0.2rem black);
	transition-property: scale, rotate;
	transition-duration: 350ms;
	transition-timing-function: ease;
}
div.photo:hover {
	scale: 150%;
	rotate: 0deg !important;
	z-index: 1;
}
div.photo > div {
	position: relative;
	width: 90%;
	aspect-ratio: 1;
	margin: 5% 5% 0% 5%;
	flex-shrink: 0;
}
div.photo > div > img, div.photo > div > svg {
	position: absolute;
	width: 100%;
	aspect-ratio: 1;
}
div.photo > div > svg {
	color: red;
	font-family: 'Finger Paint', cursive;
	overflow: visible;
}
div.photo > svg {
	font-family: 'Nanum Pen Script', cursive;
}
