div#board { background-image: url(../Images/board.jpg); }
main {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2% 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 93.898717873%; /* (1639 - 100) / 1639 */
	max-height: 90.74074074%; /* (1080 - 100) / 1080 */
	aspect-ratio: 1539 / 980; /* (1639 - 100) / (1080 - 100) */
	margin: auto;
	box-sizing: border-box;
}
div.photo {
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 30%;
	background-color: white;
	user-select: none;
	filter: drop-shadow(0 0.1rem 0.2rem black);
	transition-property: background-color, color, rotate, scale;
	transition-duration: 350ms;
	transition-timing-function: ease;
}
div.photo:hover {
	scale: 150%;
	rotate: 0deg !important;
	z-index: 1;
}
div.photo > div {
	position: relative;
	width: 90%;
	aspect-ratio: 1;
	margin: 5% 5% 0% 5%;
	flex-shrink: 0;
}
div.photo > div > img, div.photo > div > svg {
	position: absolute;
	width: 100%;
	aspect-ratio: 1;
}
div.photo > div > svg {
	color: red;
	font-family: 'Finger Paint', cursive;
	overflow: visible;
}
div.photo:not(:has(div > svg > text:empty)) {
	background-color: black;
	color: red;
}
div.photo > svg {
	font-family: 'Nanum Pen Script', cursive;
}
div.photo > div > div {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 350ms ease;
}
div.photo:hover > div > div { opacity: 1; }
div.photo > div > div > button {
	width: 40%;
	font-family: 'Martian Mono', monospace;
	color: white;
	transition-property: background-color, border-color, color, scale;
	transition-duration: 100ms;
	transition-timing-function: ease;
}
div.photo > div > div > button:enabled:hover { color: black; }
div.photo > div > div > button:first-child { background-color: #f004; border: 1px solid #f00; }
div.photo > div > div > button:enabled:first-child:hover { background-color: #f00; }
div.photo > div > div > button:last-child { background-color: #0f04; border: 1px solid #0f0; }
div.photo > div > div > button:enabled:last-child:hover { background-color: #0f0; }
div.photo > div > div > button:enabled:active {
	background-color: white !important;
	border-color: white;
	scale: 90%;
}
div.photo > div > div > button:disabled {
	background-color: #0004;
	color: black;
	border-color: transparent;
	cursor: not-allowed;
}
